@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

.app {
  background-color: #61dafb;
  font-family: Montserrat, 'sans-serif';
  font-size: 1rem;
  margin: 0;
}

/* Header */
.header
{
  height: 100vh;
}


.gallery {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  padding: 40px;
}

.card {
  display: flex;
  justify-content: flex-start;
  /* flex-grow: 4; */
  margin: 10px;
  width: 200px;
  background-color: #61dafb;
  font-family: "Montserrat", sans-serif;
  padding: 6px;
}

.card>* {
  margin-bottom: 6px;
  text-align: left;
}

.card-picture {
  width: 100%;
}

.card-feature {
  margin-left: auto;
  font-size: 75%;
  background-color: gray;
  padding: 2px 6px;
  border-radius: 5px;
  color: white;
  margin-right: 4px;
  margin-top: 4px;
  font-weight: 400;
}

.card-title {
  font-size: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #2f466c;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}

.footer-column {
  display: flex;
  flex-direction: column;
  background-color: #61dafb;
}