@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex !important;
  justify-content: center !important;
  background-color: blue !important;
}

.carousel-item {
  height: calc(100vh - 10rem);
}

.item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 300px;
}


.breadcrumb {
  margin: 10px;

}

.gallery {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-around;
  padding: 40px;
}

.card {
  display: flex;
  justify-content: flex-start;
  /* flex-grow: 4; */
  margin: 10px;
  width: 200px;
  background-color: #61dafb;
  font-family: 'Montserrat', sans-serif;
  padding: 6px;
}

.card>* {
  margin-bottom: 6px;
  text-align: left;
}

.card-picture
{
  width: 100%;
}


.card-feature {
  margin-left: auto;
  font-size: 75%;
  background-color: gray;
  padding: 2px 6px;
  border-radius: 5px;
  color: white;
  margin-right: 4px;
  margin-top: 4px;
  font-weight: 400;

}

.card-title {
  font-size: 16px;
}


.pagination {
  display: flex;
  justify-content: center;
}


.footer {
  background-color: #2F466C;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}

.footer-column {
  display: flex;
  flex-direction: column;
  background-color: #61dafb;
}