@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

.app {
  font-family: Montserrat, 'sans-serif';
  font-size: 1rem;
  margin: 0;
}

.slider {
  display: none !important;
}



.gallery {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  padding: 40px;
}


/* Card Styles */

.card {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  width: 200px;
  background-color: #61dafb;
  font-family: "Montserrat", sans-serif;
  padding: 6px;
}

.card>* {
  margin-bottom: 6px;
  text-align: left;
}

.card-image {
  position: relative;
}

.card-picture {
  width: 100%;
}

.card-title {
  font-size: 1.1rem;
  margin-bottom: 12px;
}

.card-subtitle {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.wishlist {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 0.3rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;

}

.wishlist:hover {
  cursor: pointer;
}

.wishlist-icon {
  color: rgb(155, 155, 155);
}

.wishlist-icon:hover {
  color: rgb(68, 68, 68);
}


.card-detail {
  font-size: 0.8rem;
}

.pagination {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #2f466c;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}

.footer-column {
  display: flex;
  flex-direction: column;
  /* background-color: #61dafb; */
}



/* Stickers */
.stickers {
  display: flex;
  flex-wrap: wrap;
}

.card+.card {
  background-color: #2f466c;
}